%h1 Editing post

.row
  .container
    .btn-group
      = link_to 'Show', @post, :class => "btn btn-primary"
      = link_to 'Back', posts_path, :class => "btn btn-secondary"
%hr
.row
  .container
    = render 'form'
